.roomView {
    font-size: 1.1rem;

  .label {
    font-size: 1.1rem;
  }

  .input {
    font-size: 1.1rem;
  }

  .textArea {
    font-size: 1.1rem;
  }

  .valueMyNormal{
    font-size: 1.1rem;
  }

  .newRoomButton {
    position: fixed;
    bottom: 3rem;
    right: 3rem;

    &.left {
      right: 43rem;
    }
  }
}
