.label {
  display: block;
  text-align: left;
  color: gray;
  padding: 0.5rem 0;
}

.input {
  width: 100%;
  border: 1px solid #A9B7C0;
  padding: 0.4em 0.5em;
}

.textArea {
  width: 100%;
  resize: none;
  padding: 0.4em 0.5em;
  border: 1px solid #A9B7C0;
}

.valueMyNormal{
  color: gray;
  position: relative;
  top: -0.2rem;
  padding: 0.4em 0.5em;
}

