@import "../../../colors.scss";

.roomConfirmationWindow {
  position: fixed;
  top: 3rem;
  right: 0;
  height: calc(100% - 3rem);
  width: 40rem;
  padding: 0.5rem;
  background-color: white;
  box-shadow: -2px 8px 17px 0px $main_gray;
}

.content {
  margin-top: 5rem;
}

.exitButton {
  position: absolute;
  top: 1rem;
  right: 0.5rem;
  color: gray;
}

.rowField {
  margin: 0.5rem;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 5rem;
  width: 100%;
  margin-left: -0.5rem;
  background-color: $main_gray;
}

.save {
  position: absolute;
  top: calc(50% - 1.7rem);
  right: 1rem;
}

