.roomSide {
  display: inline-block;
  vertical-align: top;
  width: 20rem;
  margin-top: 15rem; }

.calendarSide {
  display: inline-block;
  width: calc(100% - 20rem);
  position: relative;
  overflow-x: auto; }
