.calendarRect {
  width: 100%;
  min-width: 2.4rem;
  height: 7rem;
  display: inline-block;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }
