.roomOuter {
  padding: 0.8rem;
  cursor: pointer; }

.roomInner {
  width: 100%;
  height: 6rem;
  background-color: #C7D8C6;
  display: inline-block;
  border-radius: 3px; }

.roomInfo {
  padding: 1rem; }

.roomLabel {
  font-size: 1.3rem;
  display: block; }
