.roomOuter {
  padding: 0.8rem;
  cursor: pointer; }

.roomInner {
  width: 100%;
  height: 4rem;
  background-color: #C7D8C6;
  display: inline-block;
  border-radius: 3px; }

.roomInfo {
  padding: 0.5rem; }

.roomLabel {
  font-size: 0.8rem;
  display: block; }
