.prevButton {
  float: left; }

.nextButton {
  float: right; }

.calendarTable {
  border: 1px solid lightgray;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  width: 100%;
  border-collapse: collapse; }

.weekDay {
  background-color: #d3d3d354; }

.calendarCell {
  border-right: 1px solid lightgray;
  text-align: center;
  width: 1rem; }

.calendarMonth {
  text-align: center;
  padding: 0.5rem; }

.calendarRow {
  width: max-content;
  border-bottom: 1px solid lightgray; }
  .calendarRow:last-child {
    border-bottom: none; }

.block {
  width: 2.5rem;
  height: 2rem;
  background-color: red;
  position: absolute; }

.calendarGridOptions {
  margin-top: 1rem; }

.calendarGridOptionsRight {
  float: right; }

.calendarGridOptionsRow {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #a9b7c0;
  border-radius: 3px;
  margin: 0 1rem;
  color: white; }

.calendarGridOptionsRowButton {
  box-shadow: 0 5px 0px #737373;
  cursor: pointer;
  transition: all ease 0.3s; }

.calendarGridOptionsRowButton:active {
  box-shadow: 0 3px 0 #a9b7c0;
  top: 3px; }

.active {
  box-shadow: 0 3px 0 #a9b7c0; }

.calendarDatePicker {
  display: inline-block;
  color: black;
  margin-left: 1rem; }
