.calendarGrid {

}

.calendarTable {
    border: 1px solid black;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    width: 100%;
}

.calendarMonth {
    text-align: center;
    padding: 0.5rem;
}

.calendarRow {
    width: max-content;
}

.block {
    width: 2.5rem;
    height: 2rem;
    background-color: red;
    position: absolute;
}